
    <div class="map-wrap">
        <div class="map" #map>
          <div id="style-picker-container">
            <select name="mapstyles" id="mapstyles-picker">
      
            </select>
      
          </div>
            
        </div>
    </div>

<!-- <app-map></app-map> -->
<!-- <mgl-map
  [style]="'https://api.maptiler.com/maps/streets/style.json?key=Pikj0OrTBehy4VtcBYX4'"
  [zoom]="[14]"
  [center]="[16.62662018, 49.2125578]"
>
<mgl-control mglNavigation position="top-left"></mgl-control>
</mgl-map> -->

