@import "https://js.arcgis.com/4.30/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://js.arcgis.com/calcite-components/2.11.1/calcite.css";

#root,
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

arcgis-map {
    height: 100%;
    width: 80%;
    margin: 0;
    padding: 25px;
  }

#viewDiv {
    height: 70vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }