<div id="viewDiv">
  <!-- //item-id="604562cb499d4e1984b1aed11d961bec" -->

  <!-- <calcite-shell>
    <calcite-navigation slot="header">
      <calcite-navigation-logo slot="logo"></calcite-navigation-logo>
    </calcite-navigation>
  </calcite-shell> -->
  <arcgis-map item-id="ab2f8148192645f6850b649fde1ae668" (arcgisViewReadyChange)="arcgisViewReadyChange($event)">
    <arcgis-expand>
      <arcgis-search position="top-right"></arcgis-search>
    </arcgis-expand>
    <arcgis-legend position="bottom-left"></arcgis-legend>
    <arcgis-layer-list position="top-left"></arcgis-layer-list>
  </arcgis-map>
  
  </div>
