<mat-card>
    <mat-card-header>
      <mat-card-title>Activities List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="activities$()">
        <ng-container matColumnDef="col-activityName">
          <th mat-header-cell *matHeaderCellDef>Activity Name</th>
          <td mat-cell *matCellDef="let element">{{ element.activityName }}</td>
        </ng-container>
        <ng-container matColumnDef="col-location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let element">{{ element.location }}</td>
        </ng-container>
        <ng-container matColumnDef="col-difficultyLevel">
          <th mat-header-cell *matHeaderCellDef>Difficulty Level</th>
          <td mat-cell *matCellDef="let element">{{ element.difficultyLevel }}</td>
        </ng-container>
        <ng-container matColumnDef="col-action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button [routerLink]="['edit/', element._id]">
              Edit
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteActivity(element._id || '')"
            >
              Delete
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['add-activity']">
        Add a New Activity
      </button>
    </mat-card-actions>
</mat-card>

<router-outlet></router-outlet>
